<% content_for :title, "Editing Post" %>

<div class="container my-5">
  <h1 class="text-center mb-4">Edit Post</h1>

  <div class="card">
    <div class="card-body">
      <%= render "form", post: @post %>
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-between">
    <%= link_to "Show this post", @post, class: "btn btn-outline-primary" %>
    <%= link_to "Back to posts", posts_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
